export AWS_REGION="eu-west-2"
export AWS_ACCESS_KEY_ID="AKIASAJFCO62EGD5W6FD"
export AWS_SECRET_ACCESS_KEY="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"
export AWS_S3_ENDPOINT="https://s3agentbucketaccessp-s4ehtd18j4m7fc6jxiczdtfu8wgpheuw2b-s3alias.s3.eu-west-2.amazonaws.com"
export S3_BUCKET="s3agentbucket"
export S3_USEPATHSTYLE=true
